<nav class="navbar navbar-expand-lg navbar-light bg-light border border-light">
  <div class="ms-5">
    <a class="navbar-brand d-flex" href="#">
    <i class="bi bi-basket2-fill fa-2x mt-2 me-1" style="color: #12c2d6;"></i>
    <div class="d-flex"><span class="h1 fw-bold" style="color: #709085;">Nest<h4 style="color:#709085;">fashion</h4></span></div></a>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        
  <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-lg-5 ">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/"><span class="h4 font-weight-bold">Dashboard</span></a></span></a>
      </li>
      <li class="nav-item active">
         <a class="nav-link" href="/admin/users"><span class="h4 font-weight-bold">Users</span></a></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/category"><span class="h4 font-weight-bold">Category</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/products"><span class="h4 font-weight-bold">Products</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="h4 font-weight-bold">Orders</span></a>
      </li>
    </ul>
    </div>
      <div class="ms-5"><a href="/admin/logout"><button type="button" class="btn btn-outline-info me-5">Signout</button></a>
    </div>
</nav>
      

     
      
    

      
    
