<nav class="navbar navbar-expand-lg navbar-light bg-light border border-light">
       <div class="ms-lg-5">
          <a class="navbar-brand d-flex" href="#">
          <i class="bi bi-basket2-fill fa-2x mt-2 me-1" style="color: #12c2d6;"></i>
          <div class="d-flex"><span class="h1 fw-bold" style="color: #709085;">Nest<h4 style="color:#709085;">fashion</h4></span></div></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse d-lg-flex ms-1 justify-content-around" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-lg-5 ">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="h4 font-weight-bold">Home</span></a></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="h4 font-weight-bold">Men</span></a></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="h4 font-weight-bold">Women</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="h4 font-weight-bold">Kids</span></a>
            </li>
        </ul>
            <div class="ml-lg-5 ml-3">
              <form class="form-inline input-group-sm">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-info my-2 my-sm" type="submit">Search</button>
              </form>
            </div>
           
            <div class="mr-lg-4 d-none d-lg-flex">
             <div><a class="me-3" href="#" style="color:#12c2d6 ;"><i class="bi bi-person-square fa-2x mr-4"></i></a></div>
              <div><a  class="me-3" href="#" style="color:#12c2d6 ;"><i class="bi bi-heart-fill fa-2x mr-4"></i></a></div>
              <div><a  href="#" style="color:#12c2d6 ;"><i class="bi bi-cart-fill fa-2x mr-4"></i></a></div>
            </div>
           
          </div>
          <div class="dropdown">
    <button class="btn btn-info dropdown-toggle me-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    {{#if usersession}}
      {{usersession.name}}
      {{else}}
      Account
    {{/if}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       {{#if usersession}}
      <a class="dropdown-item" href="user/logout">Logout</a>
      {{else}}
     <a class="dropdown-item" href="user/login">Login</a>
    {{/if}}
      
    </div>
  </nav>
      

     
      
    

      
    
